@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.header{
    position: sticky;
    top: 0;
    width: 100%;
}

/*Mobile*/
  @media only screen and (max-width: 400px) {
    
    .menu-list{
        list-style: none;
        width: 400px;
    
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-family: 'Roboto', bold ,sans-serif
    }
    
    .header {
        display: flex;
        background-color: #6ec9ca;
        height: 50px;
        font-family: 'Roboto', sans-serif;
    
        justify-content: space-around;

    } 
    
    .menu-list a:link {
        color: rgb(44, 44, 44);
        text-decoration: none;
    }
    
    .menu-list a:visited {
        color: rgb(44, 44, 44);
        text-decoration: none;
    }
    
    .menu-list a:hover {
        background-color: #3cb9bb;
    }
     .menu-list a {
         width: 40px;
         margin: 10px;
         padding: 0;
     }

      .header p {
        color: rgb(44, 44, 44);
        padding-right: 0px;
        margin: 0px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        white-space: nowrap;
      }

  }

  /*Deskop*/
 @media only screen and (min-width: 961px) {

    li img {
        width: 30px;
        height: 30px;
    }

    .menu-list{
        list-style: none;
        width: 400px;
    
        display: flex;
        justify-content: flex-end ;
        align-items: center;
        font-size: 17px;
    }
    
    .header {
        display: flex;
        background-color: #6ec9ca /*#355c7d*/;
        height: 80px;
        font-family: 'Roboto', sans-serif;

        justify-content: space-around;
    } 
    
    .menu-list a:link {
        color: rgb(44, 44, 44);
        text-decoration: none;
    }
    
    .menu-list a:visited {
        color: rgb(44, 44, 44);
        text-decoration: none;
    }
    
    .menu-list a:hover {
        background-color: #3cb9bb;
    }
     .menu-list a {
         width: 40px;
         margin: 0;
         padding: 30px;
     }
    

      .header p {
          color: rgb(44, 44, 44);
        padding-right: 0px;
        margin: 0px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        white-space: nowrap;
        font-size: 30px;
      }
    
 }

 /*Tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
    li img {
        width: 30px;
        height: 30px;
    }
    
    .menu-list{
        list-style: none;
        width: 400px;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    .header {
        display: flex;
        background-color: #6ec9ca;
        height: 80px;
        font-family: 'Roboto', sans-serif;
        
        justify-content: space-around;
    } 
    
    .menu-list a:link {
        color: rgb(44, 44, 44);
        text-decoration: none;
    }
    
    .menu-list a:visited {
        color: rgb(44, 44, 44);
        text-decoration: none;
    }
    
    .menu-list a:hover {
        background-color: #6ec9ca;
    }
     .menu-list a {
         width: 40px;
         margin: 0;
         padding: 30px;
     }


      .header p {
        color: rgb(44, 44, 44);
        padding-right: 0px;
        margin: 0px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        white-space: nowrap;
        font-size: 30px;
      }
}

